<!DOCTYPE html>
<html>
<head>
	<title>Medicare</title>
	<link rel="stylesheet" type="text/css" href="css/style1.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>Medicare</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>

			
				<li><a href="index.php"><u>Home</u></a></li>
				<li><a href="search.php">Search</a></li>
				<li><a href="storelist.php">Store List</a></li>
				<li><a href="druglist.php">drug List</a></li>
				
				<li><a href="storelogin.html">Log In</a></li>

			</ul>
		</div>
	</nav>
	<!-- <form class="my-form"> -->
	<section id="login">
		<div class="container">
			<form action="../controller/serverLogin.php" method="POST">
			
			<div class="form-group">
				<label>User Email: </label>
				<input type="text" name="userEmail">
			</div>
			<br>

			<div class="form-group">
				<label>Password: </label>
				<input type="password" name="psw">
			</div>
			<br>
			
			<input class="button" type="submit" value="Submit" name="submit">
			

			</form>
		</div>
		<div class="sign">
			<p>Don't have an account ? <a href="signup.html"> Sign Up </a> </p>
		</div>
	</section>

			
</body>
</html>